@import url(./fonts.css);

:root{
    --orange:#ff7500;
    --white:#fff;
    --dark-blue:#252400;
    --roboto:"Roboto";
    --robotoCondessed:"RobotoCondessed";
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1130;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

}